body {
    background-color: hsl(212, 45%, 89%)
  }
  .main-container {
    display: flex;
    flex-wrap: wrap;
    width: 1440px;
    height: 700px;
    justify-content:center;
    align-items: center;
  }
  
  .container {
    flex: 0 1 auto;
    width: 240px;
    background-color: white;
    padding: 15px;
    border-radius: 20px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
  }
  
  img {
    width: 220px;
    height: 220px;
    border-radius: 5px;
    margin-top: 10px;
  }
  
  h3 {
    color: hsl(218, 44%, 22%)
  }
  
  p {
    color: hsl(220, 15%, 55%)
  }
  .attribution {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    color: hsl(218, 44%, 22%)
  }
